/*
  Add all your css styling here.
*/
body,
html {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

header,
footer {
    background-color: #c5c5c5;
}


/* CONTAINER QUI WRAP TOUTES LES SECTIONS */
.container {
    min-height: 100%;
    margin: auto;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    flex-direction: -webkit-column;
    justify-content: space-between;
}

.container>header,
footer {
    text-align:  center;
    color: #B4163B;
    padding: 0 20px;

}

main {
    text-align: center;
    display: flex;
    display: -webkit-flex;
     flex-direction: column;
    margin-bottom: auto;


}
.btn {
    margin: auto;
    width: 100px;
    height: 80px;
    text-align: center;
    flex-direction: column;
     justify-content: center;
    

}

button {

    font-size: 2em;
}

.btn_p ,
 .btn_r{
    background : yellow;
}

.btn_s{

    background : green;
}

.brnt_pa{

    background : red;
}

.btn_point {
    margin-left: auto;
    margin-right: auto;
}
.primary {
    width: 100%;
    padding-top: 20px;
    margin: auto;

    background-color: tomato;
}


/*  Ramene les menus en dessous de main content en mode mobile */
@media screen and (max-width: 768px) {
    main {

        flex-direction: column;
        flex-direction: -webkit-column;

    }
}


/* footer {

  margin-top: auto;
} */


